@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Matangi:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&display=swap');
@import "tailwindcss";

body {
  text-decoration: none;
  list-style-type: none;
}

.logo p {
  font-family: "My Soul", cursive;
  text-transform: uppercase;
  color: rgb(10, 92, 245);
  font-weight: bold;
}
